header{
    width: 100%;
    background-color: brown;
}
ul{
    width: 70%;
    margin: auto;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
Link{
    text-decoration: none;
}
li{

}